body, html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.sticky-footer {
    margin-top: auto; 
}
.box {
    width: 180px;
    height: 130px;
    border: 1px solid black;
}