body, html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.sticky-footer {
    margin-top: auto; 
}
.box {
    width: 180px;
    min-height: 130px;
    border: 1px solid black;
    position: relative;
}
box text-center student-box

.class-box-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    min-height: fit-content;
}

.position-absolute.bottom-0 {
    left: 40%;
}

.position-absolute.bottom-0 p {
    top: 30px;
}

.class-box h3, .student-box h3, .teacher-box h3 {
    padding-top: 25px;
}

.text-blue {
    color: blue;
    text-decoration: none;
}



.box.text-center.class-box, .box.text-center.student-box, .box.text-center.teacher-box   {
    display: inline-block;
    margin: 0 10px;
    vertical-align: top; 
}

.box.text-center.class-box i.bi, .box.text-center.student-box i.bi, .box.text-center.teacher-box i.bi {
    color: blue;
    cursor: pointer;
    margin-right: 5px; /* Adjust margin for spacing between icon and text */
}
